.contact-area {
    .contact {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 30px;

        .contact-address {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-gap: 15px;

            .single-contact {
                display: flex;
                align-items: center;

                i {
                    font-size: 30px;
                    background: #ff7720;
                    padding: 20px;
                    color: #fff;
                    text-align: center;
                    line-height: 22px;
                    margin-right: 15px;
                }

                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;

                    span {
                        font-size: 16px;
                        text-transform: lowercase;
                        font-weight: 400;
                        display: block;
                    }
                }

            }
        }

        .contact-form {
            form {
                input {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ddd;
                }

                textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ddd;
                }

                input[type="submit"] {
                    background: #ff7720;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 10px;
                    transition: .3s;

                    &:hover {
                        background: gray;
                    }
                }
            }
        }
    }
}