.section-title {
    max-width: 700px;
    margin: 0 auto 70px;

    h2 {
        font-size: 34px;
        font-weight: 600;
        text-transform: capitalize;
        position: relative;
        margin-bottom: 20px;
        padding: 10px 0;

        &:before {
            position: absolute;
            width: 60px;
            height: 2px;
            background: tomato;
            bottom: 0;
            content: "";
            left: 50%;
            transform: translateX(-50%);
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
    }
}